.ios, .md {   
    page-check-credentials {
        ion-content {
                background-image: url('../assets/img/onboarding_bg.png');
            }

            ul, li, p {
                color: #fff; 
                text-decoration: none; 
            }

            .big {
                font-size: 1.7rem;
                font-weight: 700; 
            }

            .intro {
                padding-top: 20px; 
            }

            .profile-image {
                margin-top: 20px; 
                border: 2px solid #fff; 
                border-radius: 100%;
                width: 85px; 
                height: 85px;
                overflow: hidden;
                margin-left: auto;
                margin-right: auto;
                display: block; 
            }

            .item.item-trns {
                border-color: rgba(0, 0, 0, 0);
                background-color: rgba(0, 0, 0, 0);
                color: white; 
            }

            .text-input::-moz-placeholder {
                color: white;
            }

            .text-input:-ms-input-placeholder {
                color: white;
            }

            .text-input::-webkit-input-placeholder {
                text-indent: 0;
                color: white;
            }

            .navButtons {
                margin-left: 3rem;
                margin-top: 7rem;
            }

            ion-icon {
                display: inline-block;
                font-size: 1.7em;
                margin: 0.2em;
            }
    }
}